/* Apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Reset */
html,
body,
div {
  border: 0;
  margin: 0;
  padding: 0;
}

body {
  background: #fafafa;
  font-family: 'Lato', 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.87);

  /* Helps fonts on OSX look more consistent with other systems */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Use momentum-based scrolling on iOS devices */
  -webkit-overflow-scrolling: touch;
}

/* how to change bulletpoint color https://www.w3schools.com/howto/howto_css_bullet_color.asp */
ul {
  list-style: none; /* Remove default bullets */
}
ul li::before {
  content: '\2022'; /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #0277bd; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

a {
  color: #0277bd;
  text-decoration: none;
}
#gridFrontPage {
  display: grid;
  grid-template-columns: auto;
  grid-auto-rows: 1fr;
  margin-top: 30px;
  grid-gap: 25px;
}
@media (min-width: 960px) {
  #coverButton {
    margin-left: auto;
    margin-right: inherit;
  }
  #gridFrontPage {
    grid-template-columns: auto auto;
  }

  .colorBigScreen {
    background-color: rgba(60, 90, 153, 0.07) !important;
  }
  .card {
    padding: 15px;
    
  }
}

@media (max-width: 960px) {
  .colorSmallScreen {
    background-color: rgba(60, 90, 153, 0.07) !important;
  }
}
#gridFrontPage .MuiTouchRipple-root {
  width: 0px !important;
  height: 0px !important;
}